body {
  margin: 0px;
}

.footer {
  height: 150px;
  background-color: whitesmoke;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.title {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 6px;
}

.info {
  font-size: 10px;
  margin-bottom: 4px;
  line-height: 1.3;
}

footer .item {
  padding: 10px 0;
  width: 180px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

#circle {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}
