body {
  margin: 0px;
}

img {
  height: 80px;
}

#navbar-one {
  height: 60px;
  padding: 10px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  gap: 15px;
}

#navbar-two {
  height: 120px;
  padding: 10px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item {
  margin: 10px;
  font-weight: bold;
}

.album {
  text-align: center;
  margin: 0 20px;
}

#circle {
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 50%;
}
